<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxThreads" value="8" />
    <add key="MaxErrors" value="10" />
    <add key="MaxAttempts" value="2" />
    <add key="LogSql" value="false" />
    <!-- Scripter Options -->
    <add key="TargetServerVersion" value="12.0" />
    <add key="TargetDatabaseEngineType" value="SqlAzureDatabase" />
    <add key="IncludeHeaders" value="false" />
    <add key="AnsiPadding" value="false" />
    <add key="NoFileGroup" value="true" />
    <add key="NoCollation" value="true" />
    <add key="NoExecuteAs" value="false" />
    <add key="NoFileStream" value="true" />
    <add key="NoFileStreamColumn" value="true" />
    <add key="NoIdentities" value="false" />
    <add key="NoIndexPartitioningSchemes" value="false" />
    <add key="NoTablePartitioningSchemes" value="false" />
    <add key="NoVardecimal" value="false" />
    <add key="NoViewColumns" value="false" />
    <add key="DriDefaults" value="true" />
    <add key="DriChecks" value="true" />
    <add key="DriWithNoCheck" value="true" />
    <add key="ExtendedProperties" value="false" />
    <add key="Triggers" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>